FileContentIndex/
v17/
WpfApp1/WpfApp1/obj/Debug/WpfApp1.csproj.AssemblyReference.cache
WpfApp1/WpfApp1/obj/Debug/WpfApp1_MarkupCompile.i.cache
WpfApp1/WpfApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache