FileContentIndex/
v17/
WpfApp1/WpfApp1/obj/Debug/WpfApp1.csproj.AssemblyReference.cache
WpfApp1/WpfApp1/obj/Debug/WpfApp1_MarkupCompile.i.cache
WpfApp1/WpfApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpfApp1/.vs/WpfApp1/v17/DocumentLayout.backup.json
/WpfApp1/.vs/WpfApp1/v17/.suo
/WpfApp1/.vs/WpfApp1/v17/DocumentLayout.json
