<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AttemptsAvailable" value="5" />
        <add key="LastResetTime" value="2023-10-01T12:00:00" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>